@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gilroy;
  src: url(./assets/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

:root{
  --accent: #0A84FF;
  --success: #68e73e;
  --error: #e34141;
  --dark: #1b1b1b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open sans', sans-serif;
  color: var(--dark);
}

body{
  background-color: #fff;
}

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 1.25rem;
}

h1,h2,h3{
  font-family: Gilroy, sans-serif;
}

@layer components{
  button{
    @apply border-2 w-full px-6 py-3 rounded-md border-dark;
    transition: all 0.3s ease-in-out;
  }
  button:hover{
    box-shadow: 0.2rem 0.2rem 0rem 0rem rgb(0, 0, 0); 
    background-color: var(--accent);
    color: white;
    border-color: black;
  }


}

.error{
  box-shadow: 0.2rem 0.2rem 0rem 0rem  var(--error);
  border-color:  var(--error);
}

.success{
  box-shadow: 0.2rem 0.2rem 0rem 0rem var(--accent);
  border-color: var(--accent);
}